.page-container :root {
    --deep-blue: #001b3d;
    --orange: #ff7a00;
    --yellow: #ffb300;
    --text-light: #f5f5f5;
}

.page-container .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.page-container .logo {
    font-size: 1.6em;
    font-weight: 700;
}

.page-container nav a {
    padding-right: 50px;
    color: var(--text-light);
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.page-container nav a:hover {
    color: var(--yellow);
}

.page-container main {
    padding: 100px;
}

.page-container .sim-container {
    text-align: center;
    margin-top: 240px;
}

.page-container .start-button {
    display: inline-block;
    margin-top: 40px;
    padding: 18px 48px;
    font-size: 1.4em;
    font-weight: 700;
    color: #fff;
    text-decoration: none;

    background: linear-gradient(135deg, #3f85d1, #917695);
    border-radius: 14px;
    box-shadow: 0 0 20px rgba(255, 183, 0, 0.6);

    transition: 0.3s;
}

.page-container .start-button:hover {
    transform: scale(1.08);
    box-shadow: 0 0 30px rgba(255, 183, 0, 0.9);
}

.page-container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-light);
    overflow-x: hidden;

    background: url('../images/html-parralax-combined.gif') no-repeat center center fixed;
    background-size: cover;
}

.page-container .sim-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;

    transform: translateY(-30%);
}